/*global styles*/
.small-img,
.large-img {
        display: block;
        background-size: cover;
}

.small-img {
        width: 25px;
        height: 25px;
}

.large-img {
        width: 75px;
        height: 75px;
}


:root {
        --border-color: #dee2e6;
        --background-color: #F7F7F7;
        --footer-background-color: #191c1f;
}

.box {
        border: 1px solid var(--border-color);
}

/*staging*/
* {
        box-sizing: inherit;
}

html {
        height: 100%;
        box-sizing: border-box;
}

body {
        margin: 0;
        padding: 0;
        font-family: "Market Sans", Arial;
        height: 100%;
        margin-bottom: 0;
}

.grid {
        min-width: 600px;
        /* for testing remove later*/
        display: grid;
        column-gap: 5vw;
        grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "header header header header header"
                ". main main aside ."
                "footer footer footer footer footer";
}



/*header styles*/
.logo {
        margin: 10px 10px;

        width: 100px;
        height: 100px;

        display: inline-block;
        background-image: url('../img/logo-black.svg');
        background-size: cover;
}

/* main styles */



.inner-grid {
        display: grid;
        border: 1px solid var(--border-color);
        height: fit-content;
}

main {
        display: grid;
        row-gap: 10vh;
        margin-bottom: 5vh;
}

button {
        height: 40px;
        border-radius: 24px;
        border: solid var(--border-color);
        border-width: 1px;
}

/* review styles */

div.review {
        padding: 0 5%;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "review review review"
                "img body body"
                ". . controls";
        column-gap: 5%;
}

.product-description {
        color: gray;
}

#product-img-1 {
        background-image: url('../img/unsplash_licence-640x640-nike-shoe-black.jpg');
        grid-area: img;
}



div.review h4 {
        grid-area: review;
}

div.review div.product-body {
        grid-area: body;
        font-size: 0.8rem;
}

div.review div.product-remove {
        grid-area: controls;
}


/* shipping styles */
div.shipping {
        min-width: 400px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: "heading heading heading heading heading heading"
                "country country country country country country"
                "first-name first-name first-name last-name last-name last-name"
                "street-address street-address street-address street-address street-address street-address"
                "city city region region zip zip"
                "email email email email-confirm email-confirm email-confirm"
                "phone-number phone-number phone-number phone-number phone-number phone-number"
                "submit submit submit submit submit submit";
        column-gap: 2%;
        row-gap: 1vh;
        padding: 0 5%;
}

div.shipping h4 {
        grid-area: heading;
}

div.shipping :is(input, select) {
        font-size: 1rem;
        width: 100%;
        max-height: 3rem;
        box-sizing: border-box;
        outline: none;
        background-color: var(--background-color);

        border-radius: 10px;
}


#country {
        grid-area: country;
}

#first-name {
        grid-area: first-name;
}

#last-name {
        grid-area: last-name;
}

#street-address {
        grid-area: street-address;
}

#city {
        grid-area: city;
}

#region {
        grid-area: region;
}

#zip-code {
        grid-area: zip;
}

#email {
        grid-area: email;
}

#email-confirm {
        grid-area: email-confirm;
}

#phone-number {
        grid-area: phone-number;
}

div.shipping button {
        width: 30%;
        padding: 1px 2px;
        box-sizing: border-box;
        grid-area: submit;
}

.continue-button {
        border: none;
        background-color: #3565f3;
        color: white;
}

/* payment styles */

input.payment {
        margin: 0;
}

div.payment {
        max-height: calc(3*75px + 3*15px);
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto auto;
        column-gap: 15px;
        align-items: center;
        padding: 0 5%;
}

div.payment h4 {
        grid-column: span 2;
}



.card {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
}




#visa {
        background-image: url('../img/visa-color.svg');
}

#master-card {
        background-image: url('../img/master-card-color.svg');
}

#american-express {
        background-image: url('../img/amex-color.svg');
}

#google-pay {
        background-image: url('../img/google-pay-color.svg');
}

#apple-pay {
        background-image: url('../img/apple-pay-black.svg');
}



/* aside styling */
aside {
        position: sticky;
        top: 2rem;
        width: 250px;
        max-height: 250px;


        z-index: 10;
        justify-self: center;
}

div.summary {
        max-height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto 1fr auto auto;
        grid-template-areas: "items-anotation items-value"
                "shipping-anotation shipping-value"
                "vat-anotation vat-value"
                "hr hr"
                "spacer spacer"
                "total total"
                "button button";
        border: 1px solid var(--border-color);
}

div.summary div.spacer {
        grid-area: spacer;
}

.value {
        text-align: right;
}

div.summary hr {
        grid-area: hr;
        display: inline-block;
        width: 90%;
        height: 1px;
        color: var(--border-color);
        /* to make it thinner than 1px*/
        transform: scaleY(0.5);
        transform-origin: top;
}

aside div.summary button {
        width: 80%;
        grid-area: button;
        justify-self: center;
        margin: 10px;
}

/*footer styles*/
/*section.social-media p a {
        
        display: flex;
        flex-direction: row;
}
*/
a span.label {
        font-size: 1em;
}

.icon {
        width: 1em;
        height: 1em;
        display: inline-block;
        background-size: cover;
        margin-right: 2px;
}

.facebook-link .icon {
        background-image: url('../img/facebook-black.svg');
}

.x-link .icon {
        background-image: url('../img/x-black.svg');
}

.instagram-link .icon {
        background-image: url('../img/instagram-black.svg');
}

footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: var(--footer-background-color);
}

footer section {
        flex: 1;
        text-align: center;
}

footer section a {
        color: white;
}

/* Grid staging*/
header {
        grid-area: header;
}

main {
        grid-area: main;
}

aside {
        grid-area: aside;
}

footer {
        grid-area: footer;
}
