/*staging*/
* {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Market Sans", Arial;
    min-height: 100%;
    margin-bottom: 0;
}

.grid {
    /* height: 100%; */
    /* for testing remove later*/
    display: grid;
    column-gap: 5vw;
    row-gap: clamp(6rem, 2vh, 3vh);
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header header header header"
        "aside main main main ."
        "footer footer footer footer footer";
}

.inner-grid {
    display: grid;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    height: fit-content;
}

/* aside styles */
aside {
    margin-bottom: 5vh;
    position: sticky;
    top: 2rem;
    margin-left: 20px;

    max-height: 300px;

    z-index: 10;
    grid-area: aside;
}

aside .color-sample {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #444;
    margin-left: 8px;
}

aside button {
    height: 40px;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 24px;
    border: solid var(--border-color);
    border-width: 1px;
}

aside form hr {
    display: block;
    width: 80%;
    justify-self: center;
}

aside label div {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #000000;

}

#price-slider {
    justify-self: center;
    width: 80%;
}

#price-slider .noUi-connect {
    background: #b5b5b5;
}

form button {
    justify-self: center;
}

aside a.button-wrapper {
    display: flex;
    width: 100%;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
}

/* main styles */
main {
    /* for debugging only
        min-height: 150vh;*/
    height: 100%;

    margin-bottom: 5vh;
    grid-area: main;
}

div.products {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    row-gap: 10px;
    column-gap: 10px;

}


div.item {
    border: solid var(--border-color) 1px;
    border-radius: 10px;
    overflow: hidden;
}

.description-wrapper {
    display: grid;
    grid-template-columns: 1fr auto auto;
    column-gap: 5px;
}

div.img-wrapper {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

main div.item button,
main div.item form {
    background-color: white;
    border: none;
    height: 24px;
    width: 24px;
    align-self: flex-end;
}

/* at media queries */
@media (max-width:1000px) {
    .grid {
        grid-template-columns: 1fr 5fr 15fr 5fr 1fr;
        grid-template-rows: auto max-content 1fr auto;
        grid-template-areas: "header header header header header"
            ". aside aside aside ."
            ". main main main ."
            "footer footer footer footer footer";
        min-width: 300px;

    }

    aside {
        margin-left: 0px;
        width: 100%;
        height: auto;
        max-height: none;
        position: initial;
        z-index: auto;
    }

}

/* @media (max-width:734px) { */
/*     div.products { */
/*         grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); */
/*         grid-auto-rows: 160px; */
/**/
/*     } */
/**/
/*     div.products h5 { */
/*         font-size: 0.9em; */
/*     } */
/**/
/*     div.img-wrapper { */
/*         width: 100%; */
/*         height: 80px; */
/*         overflow: hidden; */
/*     } */
/* } */





/* header */

@media (max-width:500px) {
    header div a {
        display: none !important;
    }

    header div {
        justify-self: center;
    }

}
